<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Description</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeDescriptionModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content padding="true">
    <div class="list card">
      <div class="item">
        <h1>{{infoToDisplay.name}}</h1>
        <h2>"{{infoToDisplay.nickname}}"</h2>
      </div>
      <div class="item item-body" align="justify">
        <img class="full-image" ng-src="img/planets-mini/{{infoToDisplay.img}}">
        Description:
        <p>{{infoToDisplay.description}}</p>
        Radius:
        <p>{{infoToDisplay.radius}}</p>
        Distance to the Sun:
        <p>{{infoToDisplay.distance}}</p>
        Mass:
        <p>{{infoToDisplay.mass}}</p>
        Length:
        <p>{{infoToDisplay.length}}</p>
        Orbital:
        <p>{{infoToDisplay.orbital}}</p>
        Gravity:
        <p>{{infoToDisplay.gravity}}</p>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
