<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Description</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeDescriptionModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content padding="true">
    <div class="list card">
      <div class="item">
        <h1>{{infoToDisplay.name}}</h1>
        <h2>Discovered in 1955</h2>
      </div>
      <div class="item item-body">
        <!--
        <img class="full-image" ng-src="img/planets-mini/sun.jpg">
        -->
        <p>{{infoToDisplay.description}}</p>


        Name:This is the planet name
        Description: A little description about the planet characteristics
        Radius:The length from the center of the planet to the surface
        Distance:Distance from the sun
        Mass:Measure of the planet mass
        Length:Duration of the planet  rotation over its own axis
        Orbital:Planet year duration in   Earth days or years
        Gravity:Planet gravity acceleration

      </div>
    </div>
  </ion-content>
</ion-modal-view>
