<div ng-hide="landscapeMode">
  <button class="button button-clear button-energized" ng-click="goToView('sun')">Sun</button>
  <button class="button button-clear button-calm" ng-click="goToView('mercury')">Mercury</button>
  <button class="button button-clear button-calm" ng-click="goToView('venus')">Venus</button>
  <button class="button button-clear button-balanced" ng-click="goToView('earth')">Earth</button>
  <button class="button button-clear button-calm" ng-click="goToView('mars')">Mars</button>
  <button class="button button-clear button-calm" ng-click="goToView('jupiter')">Jupiter</button>
  <button class="button button-clear button-calm" ng-click="goToView('saturn')">Saturn</button>
  <button class="button button-clear button-calm" ng-click="goToView('uranus')">Uranus</button>
  <button class="button button-clear button-calm" ng-click="goToView('neptune')">Neptune</button>
  <button class="button button-clear button-calm" ng-click="goToView('pluto')">Pluto</button>
  <button class="button button-clear button-assertive" ng-click="goToView('top')">Top</button>
</div>
